header{
    margin-top: 32px;
}

.logo {
    margin-top: 16px;
}

.lead {
    margin-top: 64px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 24px auto 0;
}

.box-1 { background-color: #394750; }
.box-2 { background-color: #733f42; }
.box-3 { background-color: #e77f01; }

.projects {
    margin-top: 24px;
}

.project-img {
    margin-top: 36px;
}

.project-img img {
    border: 1px solid lightgray;
}

.project-name {
    margin-top: 12px;
}

.footer-form {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    padding: 48px 64px 40px;
    margin-top: 80px;
    overflow: hidden;
}

/* The company logo */

.footer-form h3{
    color:  #ffffff;
    margin: 0 0 8px;
}

.footer-form h3 span {
    color: #e77f01;
}

/* Footer links */
.footer-form .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-form .footer-right p {
    vertical-align: top;
    margin: 14px 42px 12px 0;
    color: #ffffff;
}

/* The contact form */

.footer-form form input,
.footer-form form textarea {
    border-radius: 3px;
    box-sizing: border-box;
    background-color:  #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color:  #d1d2d2;

    width: 400px;
    padding: 16px;
}

.footer-form ::-webkit-input-placeholder {
    color: #74838a;
}

.footer-form ::-moz-placeholder {
    color: #74838a;
    opacity: 1;
}

.footer-form :-ms-input-placeholder {
    color: #74838a;
}

.footer-form form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-form form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-form form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 16px 48px;
    font-weight: bold;
}


/* iPad Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-form{
        padding: 30px;
        margin-top: 24px;
    }

    .footer-form .footer-left,
    .footer-form .footer-right{
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-form .footer-left{
        margin-bottom: 40px;
    }

}


/* Phone:  Google Nexus 5 */
@media (max-width: 767px) {

    .box {
        padding: 8px 16px;
    }

    .hex{
        padding-left: 8px;
    }


    .footer-form {
        font: bold 14px sans-serif;
        margin-top: 24px;
    }

    .footer-form .footer-company-name {
        font-size: 12px;
    }

    .footer-form form input,
    .footer-form form textarea {
        width: 250px;
    }

    .footer-form form button {
        padding: 10px 35px;
    }

    .project-name {
        margin: 12px auto 36px;
    }

    .logo {
        margin-bottom: 24px;
    }

    .box {
        width: 50%;
        height: 20%;
        margin-top: auto;
    }

    hr {
        margin-bottom: 5rem;
        border-top: none; 
    }
}
